{% extends "base.html.j2" %}

{% block extra_body %}
  <!-- File name and PAN-OS session cookie -->
  <p><b>File name:</b> <fname/></p>
  <!-- Continue button injected by PAN-OS -->
  <cookie/>

{% endblock %}
